html {
    overflow-x: hidden;
    max-width: 1000px;
    padding: 0 ;
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a {
    all:unset;
}

header {
    display: flex;
    align-items: center;
}

header img {
    max-width: 300px; 
}

header .coordonnees {
    max-width: 700px; 
    text-align: center;
    padding: auto 0px;
}

header .coordonnees p {
    width: 600px;
}

.sections {
    background-color: rgba(198, 197, 126, 0.329);
    padding: 5px 20px;
    border-radius: 15px;
    margin : 30px 20px 0  ;
    position: relative;
    min-height: 100px;
}

.sections h1 {
    position: absolute;
    top:-43px;
    background-color: rgba(255, 255, 255, 0.551);
    border-radius: 3px;;
    padding: 0 5px 0px;
}

.sections h2 {
    position: absolute;
    top:-35px;
    background-color: rgba(255, 255, 255, 0.551);
    border-radius: 3px;;
    padding: 0 5px 0px;
}

.portfolio {
    display: flex;
    width : 100%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.portfoliospecie {
    padding: 0;
    margin : 0 10px 0 0;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(198, 197, 126, 0.329);
    color: white;
    position: relative;

}
.portfoliospecie img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
}

.portfoliospecie p {
    position:absolute;
    bottom: 10px;
    left:15%;
    margin:0;
    font-size: 20px;
}

.portfoliotitle {
    padding: 0 20px;
    margin : 0 10px 0 0;
    width: 90px;
    height: 120px;
    border-radius: 10px;
    text-align: right;
}
.portfoliotitle p {
    margin:0;
    font-size: 35px;
}